html {
    font-size: 62.5%;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

p {
    font-size: 1.6rem;
    margin: 0;
}

section {
    width: 80%;
    height: 90%;
    min-height: 38rem;
    min-width: 32rem;
    max-width: 50rem;
    margin: 0 auto;
    background-color: red;
}