/* Hermano adyacente */
/* h2 + p {
    color: red;
} */

/* Hernano general */

/* h2 ~ p {
    color: red;
} */

/* Combinador child */

/* div > p {
    color: red;
} */

/* Descendiente */

div p {
    color: red;
}